@import "reset.scss";
@import "variables/global.scss";
@import "themes/light.scss";
@import "themes/dark.scss";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;

}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 15px;
  font-size: 36px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 10px;
}