.ul {
	list-style: none;
	padding: 0;
}

li {
	padding: 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px rgb(217, 205, 205) solid;
}



/* Стили для label (обертки вокруг checkbox и текста) */
label {
	position: relative;
	display: flex;
	align-items: center;
	color: var(--secondary-color);
}

input[type='checkbox'] {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

label::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	border: 2px solid #ccc;
	/* Серая окружность */
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

input:checked+label::after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 10px;
	width: 6px;
	height: 14px;
	border: solid #0079bf;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

input:checked+label {
	text-decoration: line-through;
	opacity: 0.5;
}