.button {
	padding: 4px 8px;
	border: 1px solid transparent;
	background-color: transparent;
	color: var(--primary-color);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 768px) {
	.button {
		padding: 2px 4px;
	}
}

.button:hover {
	border: 1px solid var(--primary-color);
	border-radius: 4px;
}

.button:focus {
	border: 1px solid var(--primary-color);
	border-radius: 4px;
}

.active {
	border: 1px solid var(--primary-color);
	border-radius: 4px;
}